#task1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: aquamarine;
}

#task2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(146, 159, 219);
}

#task3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(219, 146, 174);
}

#task4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(219, 179, 146);
}
#task5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(170, 236, 197);
}

#task6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(253, 194, 194);
}

#task7{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(154, 241, 237);
}

#task8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    background-color: rgb(247, 244, 212);
}